<section class="container" id="TaskInstructions">
    <!-- Instructions -->
    <a name="instructions-top"></a>
    <div class="row col-xs-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Instructions</strong>
                <span> [<a href="#" id="show-hide-instructions">Hide</a>] </span>
            </div>

            <div class="panel-body" id="instructionBody">
                <p><strong>Click and drag on the scanned page to create boxes around each&nbsp;unique&nbsp;recipe&nbsp;on the page</strong>. Then use the checkboxes before and after the image to specify whether the first recipe on the image looks like it's the continuation of a previous page, and whether it looks like the last recipe continues onto the next page.</p>
            
                <p>A <b>recipe</b> in this case includes <strong>a title, a list of ingredients, and directions</strong>. Please try to include all of these elements within the rectangles you draw. If one of the recipes is incomplete (for example, if it is continued from the prior page or continues onto the next page), capture as much of the recipe as you can within the rectangle.</p>
            
                <ul>
                    <li style="margin-left: 15px;">Click and drag on the image to add a rectangle</li>
                    <li style="margin-left: 15px;">Click on a rectangle and press Delete or Backspace to remove the rectangle</li>
                    <li style="margin-left: 15px;">Use the corners to resize the rectangle</li>
                    <li style="margin-left: 15px;">Note that the app will not allow you to create a new rectangle which overlaps an existing rectangle</li>
                </ul>
                <span><strong>If there are no recipes on the page</strong>, check the "There are no recipes on this page" box at the bottom before submitting.</span>
            </div>
        </div>
    </div>
    <!-- End Instructions -->
</section>